    <section id="work">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="intro animate-box text-center">
              <input type="phonetics" id="phonetics" class="btn btn-primary" value="Phonetics" ng-click="toggleToken('soundToken')">
              <input type="rhyme" id="rhyme" class="btn btn-primary" value="Rhmye" ng-click="toggleToken('rhymeToken')">
              <input type="meter" id="meter" class="btn btn-primary" value="Meter" ng-click="toggleToken('meterToken')">
              <input type="clean" id="clean" class="btn btn-primary" value="Clear" ng-click="clear()">
              <p><br></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="fh5co-grid animate-box  text-center" >
                <div class="work-title">
                  <textarea id="poemarea" class="form-control" ng-model="poem.input" ng-keypress="($event.which === 32 ? onSpace() : ($event.which === 13 ? onEnter() : 0));"></textarea>
                </div>
              </a>
            </div>
          </div>
        </div>
      <div>
    </section>