  /* added by AC to override the default style*/
.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  min-height: 500px;
}

/*.cm-s-night span.cm-comment { color: #8900d1; }
.cm-s-night span.cm-atom { color: #845dc4; }
.cm-s-night span.cm-number, .cm-s-night span.cm-attribute { color: #ffd500; }
.cm-s-night span.cm-keyword { color: #599eff; }
.cm-s-night span.cm-string { color: #37f14a; }
.cm-s-night span.cm-meta { color: #7678e2; }
.cm-s-night span.cm-variable-2, .cm-s-night span.cm-tag { color: #99b2ff; }
.cm-s-night span.cm-variable-3, .cm-s-night span.cm-def { color: white; }
.cm-s-night span.cm-bracket { color: #8da6ce; }
.cm-s-night span.cm-builtin, .cm-s-night span.cm-special { color: #ff9e59; }
.cm-s-night span.cm-link { color: #845dc4; }
.cm-s-night span.cm-error { color: #9d1e15; }*/

.cm-s-fontcolor span.cm-green {
  color: green;
}
.cm-s-fontcolor span.cm-red {
  color: red;
}
.cm-s-fontcolor span.cm-blue {
  color: blue;
}
.cm-s-fontcolor span.cm-yellow {
  color: yellow;
}
